._black{
    background-color: black !important;
}
._light{
    background-color: white !important;
}
/* ._2s1x ._2s1y{
    background-image: linear-gradient(to right, #868f96 0%, #596164 100%);
}

#contentCol{
    background-color: #303235  !important;
} */

